{% extends 'core/layout.html' %}

{% block title %}
Home Page
{% endblock %}

{% block body %}
<div class="">
    <div class="row align-items-start text-light">
      <div class="col p-3 m-3" style="background: blue; width: 100%;">
        One of three columns
      </div>
      <div class="col p-3 m-3" style="background: blue; width: 100%;">
        One of three columns
      </div>
      <div class="col p-3 m-3" style="background: blue; width: 100%;">
        One of three columns
      </div>
    </div>
{% endblock %}
